name: Validate IOG Core GH Action
on: push
jobs:
  integration:
    strategy:
        fail-fast: false
        matrix:
          os: [ubuntu-latest, windows-latest, macos-latest]
    name: GitHub Action integration test
    runs-on: ${{ matrix.os }}
    steps:
    - uses: input-output-hk/iohk-nix@v1
    - name: Check pkg-config
      run: |
        pkg-config --libs libblst
        pkg-config --libs libsodium
        pkg-config --libs libsecp256k1
